@import './vars.scss';

/* *~~*~~*~~*~~*~~* NAVBAR *~~*~~*~~*~~*~~* */
$navbar-background-color: transparent;
$navbar-dropdown-background-color: transparent;

/* *~~*~~*~~*~~*~~* DROPDOWN *~~*~~*~~*~~*~~* */
$dropdown-content-background-color: transparent;
$dropdown-menu-min-width: 8rem;

/* *~~*~~*~~*~~*~~* INPUT *~~*~~*~~*~~*~~* */

$input-focus-border-color: $hamber;
$input-focus-box-shadow-color: rgba($hamber, 0.25);

/* *~~*~~*~~*~~*~~* BUTTONS *~~*~~*~~*~~*~~* */

$button-focus-color: $hamber;
$button-focus-border-color: $hamber;
$button-focus-box-shadow-color: rgba($hamber, 0.25);

/* *~~*~~*~~*~~*~~* FOOTER *~~*~~*~~*~~*~~* */

$footer-background-color: transparent;

$dimensions:16, 24, 32, 48, 64, 96, 128, 256, 300;