@use 'sass:map';

$hpurple: #bf9dff;
$hblue: #72ddf7;
$hdark: #000000;
$hamber: #FFC000;
$hred: #A72608;
$hblack: #090C02;
$hblack2: #151515;

$hgra: linear-gradient(180deg, rgb(255, 192, 0) 0%, rgb(167, 38, 8) 100%);
$hgrao5: linear-gradient(180deg, rgba(255, 192, 0, 0.5) 0%, rgba(167, 38, 8, 0.5) 100%);
$hgra1: linear-gradient(90deg, $hpurple 0%, $hblue 100%);

$hcolors: (
    hpurple: $hpurple,
    hblue: $hblue,
    hdark: $hdark,
    hamber: $hamber,
    hred: $hred,
    hblack: $hblack,
    hblack2: $hblack2,

);

$hgras: (
    hgra: $hgra,
    hgra1: $hgra1,
    hgrao5: $hgrao5,
);

$z-index-glasspanel: 100;
